<!DOCTYPE html>
<html>
<head>
    <title>Confirme sua Conta</title>
</head>
<body>
    <h2>Bem-vindo ao Acai Guest!</h2>
    <p>Para ativar sua conta, clique no botão abaixo:</p>
    <a href="{{confirmationUrl}}" style="padding: 10px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">Confirmar Conta</a>
</body>
</html>
